In [1]:
# Importing required libraries
import numpy as np 
import pandas as pd

In [2]:
# Creating artificial data
X = [['Spain',2],['Chile',45],['Australia',7],['Italy',85],['Brazil',28]]
data = pd.DataFrame(data=X,columns=['Country','Values'])

In [3]:
# Overview of data
data

     Country  Values
0      Spain       2
1      Chile      45
2  Australia       7
3      Italy      85
4     Brazil      28

## Numerical Binning

In [4]:
# Defining the range of bins to be created.
Bin = [0,30,70,100]

In [5]:
# Defining the labels of bins.
Label = ["Low", "Mid", "High"]

In [6]:
# Creating bins
data['bin'] = pd.cut(data['Values'], bins=Bin, labels=Label)

In [7]:
# Overview of created bins
data['bin']

0     Low
1     Mid
2     Low
3    High
4     Low
Name: bin, dtype: category
Categories (3, object): [Low < Mid < High]

In [8]:
# Overview of data
data

     Country  Values   bin
0      Spain       2   Low
1      Chile      45   Mid
2  Australia       7   Low
3      Italy      85  High
4     Brazil      28   Low

## Categorical Binning

In [9]:
# Defining condition/requirement
conditions = [
    data['Country'].str.contains('Spain'),
    data['Country'].str.contains('Italy'),
    data['Country'].str.contains('Chile'),
    data['Country'].str.contains('Brazil')]

In [10]:
# Defining the labels for binning
choices = ['Europe', 'Europe', 'South America', 'South America']

In [11]:
# Creating categorical bins for the variable 'Continent'
data['Continent'] = np.select(conditions, choices, default='Other')

In [12]:
# Overview of data
data

     Country  Values   bin      Continent
0      Spain       2   Low         Europe
1      Chile      45   Mid  South America
2  Australia       7   Low          Other
3      Italy      85  High         Europe
4     Brazil      28   Low  South America